/***************************CLASS***********************/
.top{background-color: #93b5b3;
  text-align: center;
  padding: 5px;
  padding-bottom: 0;



}
.mid{background-color: #c8dad3;
  text-align: center;
  padding-top: 50px;



}


.bottom{background-color: #93b5b3;
   text-align: center;
   margin-bottom: 0;
   padding-top: 30px;
   padding-bottom: 30px;
   text-decoration: none;


   }
   .contact-me{padding-bottom: 50px;}
   .btn{-webkit-border-radius: 10;
    -moz-border-radius: 10;
    background-color: #93b5b3;
    color: #f2f6f5;
    border-radius: 10px;
    opacity: .75;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 50px auto;
    width: 25%;
    transition: background, .5s;
    cursor: pointer;


   }
   .btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}


.web{position: absolute;
     top: 20px;
     right: 100px;

}

.leftspider{position: absolute;
            left: 200px;

}
.rightspider{position: absolute;
            top: 400px;
}

.keanu{width: 600px;
       padding-bottom: 50px;}

.profile{border-radius: 1000px;
}

.spiderman{display: inline-block;
           position: relative;
           right: 420px;
           top: 5px;
           width: 300px;
 }
.boy{font-size: 50px;
      color: #63707e;
      font-weight: normal;
      }
.skill-row{width: 50%;
           margin: 100px auto;
           text-align: left;
           padding: 20px;

 }
 .skill{width: 25%;
        float: left;
        margin-right: 30px;
        margin-bottom: 30px;
         }
.bulb{width: 25%;
      float: right;
      margin-right: 30px;

}
.bottomhr{ padding-bottom: 100px;}
.tophr{border: 0;}
.midhr{padding: 50px;}
.reg{color: #f2f6f5;}
.myskills{margin-top: 40px;}
.hereyou{padding: 20px;
         padding-bottom: 100px;
         font-size: 20px;}
         .footer-link{text-decoration: none;}
         .footer-link:hover{color: #f2f6f5; }
         .botp{padding-bottom: 20px;}

/***************************TAG***********************/
body{margin: 0;
    font-family: sans-serif;
    text-align: center;

}
table{align: center;
      display: inline;
       }

h1{font-size: 90px;
  color: #63707e;






}

hr{border-style: dotted none none;
  border-width: 5px;
  width: 10%;
  height: 0;
  background-color: : #c8dad3;
  margin-bottom: 0;


 }

 h3{color: #f2f6f5;

 }
h2{color: #63707e; font-size: 50px;}
a{color: #63707e;}
